table(class="table table-striped")
	thead(class="responsive_false")
		tr
			th
			th(class="data-header") Height
			th(class="data-header") Timestamp (utc)
			th(class="data-header") Age
			th(class="data-header") Transactions
			th(class="data-header") Size (bytes)

	thead(class="responsive_true")
		tr
			th(class="data-header") Height
			th(class="data-header") Timestamp
			th(class="data-header") Transactions

	tbody
		each block, blockIndex in blocks
			if (block)
				tr
					th(class="responsive_false") #{(blockIndex + blockOffset + 1).toLocaleString()}
					td(class="data-cell monospace")
						a(href=("/block-height/" + block.height)) #{block.height.toLocaleString()}
					td(class="data-cell monospace responsive_false") #{moment.utc(new Date(parseInt(block.time) * 1000)).format("Y-MM-DD HH:mm:ss")}
					//- responsive Timestamp
					td(class="data-cell monospace responsive_true") #{moment.utc(new Date(parseInt(block.time) * 1000)).fromNow()}

					- var timeAgo = moment.duration(moment.utc(new Date()).diff(moment.utc(new Date(parseInt(block.time) * 1000))));
					td(class="data-cell monospace responsive_false") #{timeAgo.format()}
					td(class="data-cell monospace") #{block.tx.length.toLocaleString()}
					td(class="data-cell monospace responsive_false") #{block.size.toLocaleString()}